<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IConnectionFactory" type="QuadLogic.Framework.Data.UOW.Interfaces.IConnectionFactory, QuadLogic.Framework" />
  <alias alias="AppConfigConnectionFactory" type="QuadLogic.Framework.Data.UOW.AppConfigConnectionFactory, QuadLogic.Framework" />
  <alias alias="IAdoNetContext" type="QuadLogic.Framework.Data.UOW.Interfaces.IAdoNetContext, QuadLogic.Framework" />
  <alias alias="AdoNetContext" type="QuadLogic.Framework.Data.UOW.AdoNetContext, QuadLogic.Framework" />
  <alias alias="ISensorRepository" type="QuadLogic.Data.Interfaces.ISensorRepository, QuadLogic.Data" />
  <alias alias="SensorRepository" type="QuadLogic.Data.SensorRepository, QuadLogic.Data" />  
  <alias alias="ISensorService" type="QuadLogic.Service.Interfaces.ISensorService, QuadLogic.Service" />
  <alias alias="SensorService" type="QuadLogic.Service.SensorService, QuadLogic.Service" />  
  <typeAliases>
    <typeAlias alias="perRequest" type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
  </typeAliases>
  <container>
    <register name="QuadLogicConnectionFactory" type="IConnectionFactory" mapTo="AppConfigConnectionFactory">
      <constructor>
        <param name="connectionName" type="System.String">
          <value value="QuadLogicContext" />
        </param>
      </constructor>
    </register>
    <register name="QuadLogicAdoNetContext" type="IAdoNetContext" mapTo="AdoNetContext">
      <constructor>
        <param name="connectionFactory" type="IConnectionFactory">
          <dependency name="QuadLogicConnectionFactory" />
        </param>
      </constructor>
      <lifetime type="perRequest" />
    </register>    
    <register name="SensorRepository" type="ISensorRepository" mapTo="SensorRepository">
      <constructor>
        <param name="context" type="IAdoNetContext">
          <dependency name="QuadLogicAdoNetContext" />
        </param>
      </constructor>
    </register>    
    <register type="ISensorService" mapTo="SensorService">
      <constructor>
        <param name="sensorRepository" type="ISensorRepository">
          <dependency name="SensorRepository" />
        </param>        
      </constructor>
    </register>    
  </container>
</unity>